@font-face {
    font-family: 'ApercuPro-Medium';
    src: url('ApercuPro-Medium.eot');
    src: local('Apercu Pro Medium'), local('ApercuPro-Medium'),
        url('ApercuPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro-Medium.woff2') format('woff2'),
        url('ApercuPro-Medium.woff') format('woff'),
        url('ApercuPro-Medium.ttf') format('truetype'),
        url('ApercuPro-Medium.svg#ApercuPro-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}