@font-face {
    font-family: 'Titillium';
    src: url('Titillium.eot');
    src: local('Titillium'), local('Titillium'),
        url('Titillium.eot?#iefix') format('embedded-opentype'),
        url('Titillium.woff2') format('woff2'),
        url('Titillium.woff') format('woff'),
        url('Titillium.svg#Titillium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

