@font-face {
    font-family: 'Graphik-Thin';
    src: url('Graphik-Thin.eot');
    src: local('Graphik Thin'), local('Graphik-Thin'),
        url('Graphik-Thin.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Thin.woff2') format('woff2'),
        url('Graphik-Thin.woff') format('woff'),
        url('Graphik-Thin.ttf') format('truetype'),
        url('Graphik-Thin.svg#Graphik-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

