
@font-face {
    font-family: 'Graphik-Medium';
    src: url('Graphik-Medium.eot');
    src: local('Graphik Medium'), local('Graphik-Medium'),
        url('Graphik-Medium.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Medium.woff2') format('woff2'),
        url('Graphik-Medium.woff') format('woff'),
        url('Graphik-Medium.ttf') format('truetype'),
        url('Graphik-Medium.svg#Graphik-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}