@font-face {
    font-family: 'AmnestyTradeGothic';
    src: url('AmnestyTradeGothic.eot');
    src: url('AmnestyTradeGothic.eot?#iefix') format('embedded-opentype'),
         url('AmnestyTradeGothic.woff2') format('woff2'),
         url('AmnestyTradeGothic.woff') format('woff'),
         url('AmnestyTradeGothic.svg#amnesty_trade_gothicroman') format('svg');
    font-weight: normal;
    font-style: normal;
}