@font-face {
    font-family: 'WhitneySans';
    src: url('WhitneySans.eot');
    src: url('WhitneySans.eot?#iefix') format('embedded-opentype'),
         url('WhitneySans.woff2') format('woff2'),
         url('WhitneySans.woff') format('woff'),
         url('WhitneySans.svg#WhitneySans') format('svg');
    font-weight: normal;
    font-style: normal;
}