@font-face {
    font-family: 'Sentient-MediumItalic';
    src: url('Sentient-MediumItalic.eot');
    src: local('Sentient Medium Italic'), local('Sentient-MediumItalic'),
        url('Sentient-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Sentient-MediumItalic.woff2') format('woff2'),
        url('Sentient-MediumItalic.woff') format('woff'),
        url('Sentient-MediumItalic.ttf') format('truetype'),
        url('Sentient-MediumItalic.svg#Sentient-MediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}