@font-face {
    font-family: 'Graphik-Bold';
    src: url('Graphik-Bold.eot');
    src: local('Graphik Bold'), local('Graphik-Bold'),
        url('Graphik-Bold.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Bold.woff2') format('woff2'),
        url('Graphik-Bold.woff') format('woff'),
        url('Graphik-Bold.ttf') format('truetype'),
        url('Graphik-Bold.svg#Graphik-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}