@font-face {
    font-family: 'EdgecuttingLiteTight';
    src: url('EdgecuttingLiteTight.eot');
    src: local('Edgecutting Lite Tight'), local('EdgecuttingLiteTight'),
        url('EdgecuttingLiteTight.eot?#iefix') format('embedded-opentype'),
        url('EdgecuttingLiteTight.woff2') format('woff2'),
        url('EdgecuttingLiteTight.woff') format('woff'),
        url('EdgecuttingLiteTight.ttf') format('truetype'),
        url('EdgecuttingLiteTight.svg#EdgecuttingLiteTight') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}