@font-face {
    font-family: 'Graphik-Regular';
    src: url('Graphik-Regular.eot');
    src: local('Graphik Regular'), local('Graphik-Regular'),
        url('Graphik-Regular.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Regular.woff2') format('woff2'),
        url('Graphik-Regular.woff') format('woff'),
        url('Graphik-Regular.ttf') format('truetype'),
        url('Graphik-Regular.svg#Graphik-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}