@font-face {
    font-family: 'ApercuPro';
    src: url('ApercuPro.eot');
    src: local('Apercu Pro'), local('ApercuPro'),
        url('ApercuPro.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro.woff2') format('woff2'),
        url('ApercuPro.woff') format('woff'),
        url('ApercuPro.ttf') format('truetype'),
        url('ApercuPro.svg#ApercuPro') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}