@font-face {
    font-family: 'ApercuPro-BoldItalic';
    src: url('ApercuPro-BoldItalic.eot');
    src: local('Apercu Pro Bold Italic'), local('ApercuPro-BoldItalic'),
        url('ApercuPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro-BoldItalic.woff2') format('woff2'),
        url('ApercuPro-BoldItalic.woff') format('woff'),
        url('ApercuPro-BoldItalic.ttf') format('truetype'),
        url('ApercuPro-BoldItalic.svg#ApercuPro-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}