@font-face {
    font-family: 'Whitney';
    src: url('Whitney.eot');
    src: url('Whitney.eot?#iefix') format('embedded-opentype'),
         url('Whitney.woff2') format('woff2'),
         url('Whitney.woff') format('woff'),
         url('Whitney.svg#Whitney') format('svg');
    font-weight: normal;
    font-style: normal;
}