
@font-face {
    font-family: 'Graphik-Super';
    src: url('Graphik-Super.eot');
    src: local('Graphik Super'), local('Graphik-Super'),
        url('Graphik-Super.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Super.woff2') format('woff2'),
        url('Graphik-Super.woff') format('woff'),
        url('Graphik-Super.ttf') format('truetype'),
        url('Graphik-Super.svg#Graphik-Super') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}