@font-face {
    font-family: 'Graphik-Light';
    src: url('Graphik-Light.eot');
    src: local('Graphik Light'), local('Graphik-Light'),
        url('Graphik-Light.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Light.woff2') format('woff2'),
        url('Graphik-Light.woff') format('woff'),
        url('Graphik-Light.ttf') format('truetype'),
        url('Graphik-Light.svg#Graphik-Light') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}